In [55]:
import psycopg2
import pandas as pd

In [107]:
# Change the adaccount & entity (ENTITY can be CREATIVE,ADSET,CAMPAIGN, AGE_BREAKDOWN, COUNTRY_BREAKDOWN, GENDER_BREAKDOWN)
entity = 'CAMPAIGN'
adaccount = 'act_153756323362240'

In [108]:
conn = psycopg2.connect(user = "ds_readonly", password = "blkbox2020!",host = "db.blkbox.ai",port = "5432",database = "blkbox")
#query for creative
sql = f"""with cte_1 as(
  select
    fb_adaccount.adaccount_id,
    fb_adaccount.adaccount_name,
    optimization_metric,
    case when (
      fb_adaccount.optimization_metric = 'd7_roas'
    ) then sum((fb_adaccount.targets ->> 'd7_roas') :: numeric) end as target_d7_roas,
    case when (
      fb_adaccount.optimization_metric = 'cpi'
    ) then sum((fb_adaccount.targets ->> 'cpi') :: numeric) end as target_cpi,
    case when (
      fb_adaccount.optimization_metric = 'cpa'
    ) then sum((fb_adaccount.targets ->> 'cpa') :: numeric) end as target_cpa
  from
    fb_app_adaccounts fb_adaccount
  where
    fb_adaccount.adaccount_id = '{adaccount}'
  group by
    1,
    2
),
cte_2 as(
  select
    blk.adaccount_id,
	blk.entity_id as creative_id,
    blk.entity_type,
    sum(cast(blk.metadata ->> 'cpa' as float)) as cpa,
    sum(cast(blk.metadata ->> 'cpi' as float)) as cpi,
    sum(cast(blk.metadata ->> 'd7_roas' as float)) as d7_roas,
	sum(cast(blk.metadata ->> 'spend' as float)) as spend
  from
      (select * from blkbox_performance_history where date between current_date-30 and current_date AND entity_type = 'CREATIVE')blk
  where
    blk.adaccount_id = '{adaccount}'
    and blk.entity_type = 'CREATIVE'
  group by
    1,
    2,
	3
)
select
  c1.adaccount_id,
  c1.adaccount_name,
  c2.entity_type,
  case when (c1.optimization_metric = 'd7_roas')
  and c1.target_d7_roas < c2.d7_roas then 'above' when (c1.optimization_metric = 'cpi')
  and c1.target_cpi > c2.cpi then 'above' when (c1.optimization_metric = 'cpa')
  and c1.target_cpa > c2.cpa then 'above' else 'below' end as goal,
  SUM(c2.spend)
from
  cte_1 c1
  inner join cte_2 c2 on c1.adaccount_id = c2.adaccount_id
group by
  1,
  2,
  3,
  4;"""

#query for adset
sql1 = f"""with cte_1 as(
  select
    fb_adaccount.adaccount_id,
    fb_adaccount.adaccount_name,
    optimization_metric,
    case when (
      fb_adaccount.optimization_metric = 'd7_roas'
    ) then sum((fb_adaccount.targets ->> 'd7_roas') :: numeric) end as target_d7_roas,
    case when (
      fb_adaccount.optimization_metric = 'cpi'
    ) then sum((fb_adaccount.targets ->> 'cpi') :: numeric) end as target_cpi,
    case when (
      fb_adaccount.optimization_metric = 'cpa'
    ) then sum((fb_adaccount.targets ->> 'cpa') :: numeric) end as target_cpa
  from
    fb_app_adaccounts fb_adaccount
  where
    fb_adaccount.adaccount_id = '{adaccount}'
  group by
    1,
    2
),
cte_2 as(
  select
    blk.adaccount_id,
	blk.entity_id as creative_id,
    blk.entity_type,
    sum(cast(blk.metadata ->> 'cpa' as float)) as cpa,
    sum(cast(blk.metadata ->> 'cpi' as float)) as cpi,
    sum(cast(blk.metadata ->> 'd7_roas' as float)) as d7_roas,
	sum(cast(blk.metadata ->> 'spend' as float)) as spend
  from
      (select * from blkbox_performance_history where date between current_date-30 and current_date AND entity_type = 'ADSET')blk
  where
    blk.adaccount_id = '{adaccount}'
    and blk.entity_type = 'ADSET'
  group by
    1,
    2,
	3
)
select
  c1.adaccount_id,
  c1.adaccount_name,
  c2.entity_type,
  case when (c1.optimization_metric = 'd7_roas')
  and c1.target_d7_roas < c2.d7_roas then 'above' when (c1.optimization_metric = 'cpi')
  and c1.target_cpi > c2.cpi then 'above' when (c1.optimization_metric = 'cpa')
  and c1.target_cpa > c2.cpa then 'above' else 'below' end as goal,
  SUM(c2.spend)
from
  cte_1 c1
  inner join cte_2 c2 on c1.adaccount_id = c2.adaccount_id
group by
  1,
  2,
  3,
  4;"""

#query for Campaign
sql2 = f"""with cte_1 as(
  select
    fb_adaccount.adaccount_id,
    fb_adaccount.adaccount_name,
    optimization_metric,
    case when (
      fb_adaccount.optimization_metric = 'd7_roas'
    ) then sum((fb_adaccount.targets ->> 'd7_roas') :: numeric) end as target_d7_roas,
    case when (
      fb_adaccount.optimization_metric = 'cpi'
    ) then sum((fb_adaccount.targets ->> 'cpi') :: numeric) end as target_cpi,
    case when (
      fb_adaccount.optimization_metric = 'cpa'
    ) then sum((fb_adaccount.targets ->> 'cpa') :: numeric) end as target_cpa
  from
    fb_app_adaccounts fb_adaccount
  where
    fb_adaccount.adaccount_id = '{adaccount}'
  group by
    1,
    2
),
cte_2 as(
  select
    blk.adaccount_id,
	blk.entity_id as creative_id,
    blk.entity_type,
    sum(cast(blk.metadata ->> 'cpa' as float)) as cpa,
    sum(cast(blk.metadata ->> 'cpi' as float)) as cpi,
    sum(cast(blk.metadata ->> 'd7_roas' as float)) as d7_roas,
	sum(cast(blk.metadata ->> 'spend' as float)) as spend
  from
      (select * from blkbox_performance_history where date between current_date-30 and current_date AND entity_type = 'CAMPAIGN')blk
  where
    blk.adaccount_id = '{adaccount}'
    and blk.entity_type = 'CAMPAIGN'
  group by
    1,
    2,
	3
)
select
  c1.adaccount_id,
  c1.adaccount_name,
  c2.entity_type,
  case when (c1.optimization_metric = 'd7_roas')
  and c1.target_d7_roas < c2.d7_roas then 'above' when (c1.optimization_metric = 'cpi')
  and c1.target_cpi > c2.cpi then 'above' when (c1.optimization_metric = 'cpa')
  and c1.target_cpa > c2.cpa then 'above' else 'below' end as goal,
  SUM(c2.spend)
from
  cte_1 c1
  inner join cte_2 c2 on c1.adaccount_id = c2.adaccount_id
group by
  1,
  2,
  3,
  4;"""

# query for age_breakdown
sql3 = f"""select
  adaccount_id,
  adaccount_name,
  adset_name,
  adset_id,
  status,
  goal,
  age_breakdown,
  platform,
  platform_spend,
  sum(spend) as spend
from
  (
    select
      fb_adaccount.adaccount_id,
      fb_adaccount.adaccount_name,
      fb_adset.adset_name,
      fb_adset.adset_id,
      fb_adset.status,
      fb_adaccount.optimization_metric,
      x.cola as platform,
      bk.age_breakdown,
      x.colb ->> 'spend' as platform_spend,
      case when (
        coalesce(fb_adaccount.optimization_metric) = 'd7_roas'
      )
      and ((fb_adaccount.targets ->> 'd7_roas') :: numeric) < ((entity_performance.d7_roas) :: numeric) then 'above' when (
        coalesce(fb_adaccount.optimization_metric) = 'cpi'
      )
      and ((fb_adaccount.targets ->> 'cpi') :: numeric) >((entity_performance.cpi) :: numeric) then 'above' when (
        coalesce(fb_adaccount.optimization_metric) = 'cpa'
      )
      and ((fb_adaccount.targets ->> 'cpa') :: numeric) >((entity_performance.cpa) :: numeric) then 'above' else 'below' end as goal,
      cpa,
      cpi,
      d7_roas,
      d7_purchase_value,
      spend,
      installs,
      unique_purchases
    from
      fb_app_adsets fb_adset
      inner join fb_app_adaccounts fb_adaccount on fb_adset.adaccount_id = fb_adaccount.adaccount_id
      inner join blkbox_performance_breakdowns bk on bk.entity_id = fb_adset.adset_id
      cross join lateral jsonb_each(bk.age_breakdown) as x(cola, colb)
      inner join (
        select
          adaccount_id,
          entity_id,
          entity_type,
          sum(cast(metadata ->> 'cpa' as float)) as cpa,
          sum(cast(metadata ->> 'cpi' as float)) as cpi,
          sum(cast(metadata ->> 'd7_roas' as float)) as d7_roas,
          sum(cast(metadata ->> 'd7_purchase_value' as float)) as d7_purchase_value,
          sum(cast(metadata ->> 'spend' as float)) as spend,
          sum(cast(metadata ->> 'installs' as float)) as installs,
          sum(cast(metadata ->> 'unique_purchases' as float)) as unique_purchases
        from
          (
            select
              *
            from
              blkbox_performance_history
            where
              date between current_date -30
              and current_date
          ) t
        group by
          1,
          2,
          3
      ) as entity_performance on entity_performance.adaccount_id = fb_adset.adaccount_id
      and entity_performance.entity_id = fb_adset.adset_id
      and entity_performance.adaccount_id = '{adaccount}'
  ) as info
group by
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9
"""
#query for country breakdown
sql4 = f"""
select
  adaccount_id,
  adaccount_name,
  adset_name,
  adset_id,
  status,
  goal,
  geography_breakdown,
  platform,
  platform_spend,
  (sum(spend) / nullif(sum(installs), 0)) as cpi,
  (sum(spend) / nullif(sum(unique_purchases), 0)) as cpa,
  (sum(d7_purchase_value) / nullif(sum(spend), 0)) as d7_roas,
  sum(spend) as spend
from
  (
    select
      fb_adaccount.adaccount_id,
      fb_adaccount.adaccount_name,
      fb_adset.adset_name,
      fb_adset.adset_id,
      fb_adset.status,
      fb_adaccount.optimization_metric,
      x.cola as platform,
      bk.geography_breakdown,
      x.colb ->> 'cpa' as platform_cpa,
      x.colb ->> 'cpc' as platform_cpc,
      x.colb ->> 'cpi' as platform_cpi,
      x.colb ->> 'cpm' as platform_cpm,
      x.colb ->> 'ctr' as platform_ctr,
      x.colb ->> 'spend' as platform_spend,
      x.colb ->> 'clicks' as platform_clicks,
      x.colb ->> 'installs' as platform_installs,
      x.colb ->> 'impressions' as platform_impressions,
      case when (
        coalesce(fb_adaccount.optimization_metric) = 'd7_roas'
      )
      and ((fb_adaccount.targets ->> 'd7_roas') :: numeric) < ((entity_performance.d7_roas) :: numeric) then 'above' when (
        coalesce(fb_adaccount.optimization_metric) = 'cpi'
      )
      and ((fb_adaccount.targets ->> 'cpi') :: numeric) >((entity_performance.cpi) :: numeric) then 'above' when (
        coalesce(fb_adaccount.optimization_metric) = 'cpa'
      )
      and ((fb_adaccount.targets ->> 'cpa') :: numeric) >((entity_performance.cpa) :: numeric) then 'above' else 'below' end as goal,
      cpa,
      cpi,
      d7_roas,
      d7_purchase_value,
      spend,
      installs,
      unique_purchases
    from
      fb_app_adsets fb_adset
      inner join fb_app_adaccounts fb_adaccount on fb_adset.adaccount_id = fb_adaccount.adaccount_id
      inner join blkbox_performance_breakdowns bk on bk.entity_id = fb_adset.adset_id
      cross join lateral jsonb_each(bk.geography_breakdown) as x(cola, colb)
      inner join (
        select
          adaccount_id,
          entity_id,
          entity_type,
          sum(cast(metadata ->> 'cpa' as float)) as cpa,
          sum(cast(metadata ->> 'cpi' as float)) as cpi,
          sum(cast(metadata ->> 'd7_roas' as float)) as d7_roas,
          sum(cast(metadata ->> 'd7_purchase_value' as float)) as d7_purchase_value,
          sum(cast(metadata ->> 'spend' as float)) as spend,
          sum(cast(metadata ->> 'installs' as float)) as installs,
          sum(cast(metadata ->> 'unique_purchases' as float)) as unique_purchases
        from
          (
            select
              *
            from
              blkbox_performance_history
            where
              date between current_date -30
              and current_date
          ) t
        group by
          1,
          2,
          3
      ) as entity_performance on entity_performance.adaccount_id = fb_adset.adaccount_id
      and entity_performance.entity_id = fb_adset.adset_id
      and entity_performance.adaccount_id = '{adaccount}'
  ) as info
group by
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9;
"""
#query for gender
sql5 = f"""
select
  adaccount_id,
  adaccount_name,
  adset_name,
  adset_id,
  status,
  goal,
  gender_breakdown,
  platform,
  platform_spend,
  sum(spend) as spend
from
  (
    select
      fb_adaccount.adaccount_id,
      fb_adaccount.adaccount_name,
      fb_adset.adset_name,
      fb_adset.adset_id,
      fb_adset.status,
      fb_adaccount.optimization_metric,
      x.cola as platform,
      bk.gender_breakdown,
      x.colb ->> 'spend' as platform_spend,
      case when (
        coalesce(fb_adaccount.optimization_metric) = 'd7_roas'
      )
      and ((fb_adaccount.targets ->> 'd7_roas') :: numeric) < ((entity_performance.d7_roas) :: numeric) then 'above' when (
        coalesce(fb_adaccount.optimization_metric) = 'cpi'
      )
      and ((fb_adaccount.targets ->> 'cpi') :: numeric) >((entity_performance.cpi) :: numeric) then 'above' when (
        coalesce(fb_adaccount.optimization_metric) = 'cpa'
      )
      and ((fb_adaccount.targets ->> 'cpa') :: numeric) >((entity_performance.cpa) :: numeric) then 'above' else 'below' end as goal,
      cpa,
      cpi,
      d7_roas,
      d7_purchase_value,
      spend,
      installs,
      unique_purchases
    from
      fb_app_adsets fb_adset
      inner join fb_app_adaccounts fb_adaccount on fb_adset.adaccount_id = fb_adaccount.adaccount_id
      inner join blkbox_performance_breakdowns bk on bk.entity_id = fb_adset.adset_id
      cross join lateral jsonb_each(bk.gender_breakdown) as x(cola, colb)
      inner join (
        select
          adaccount_id,
          entity_id,
          entity_type,
          sum(cast(metadata ->> 'cpa' as float)) as cpa,
          sum(cast(metadata ->> 'cpi' as float)) as cpi,
          sum(cast(metadata ->> 'd7_roas' as float)) as d7_roas,
          sum(cast(metadata ->> 'd7_purchase_value' as float)) as d7_purchase_value,
          sum(cast(metadata ->> 'spend' as float)) as spend,
          sum(cast(metadata ->> 'installs' as float)) as installs,
          sum(cast(metadata ->> 'unique_purchases' as float)) as unique_purchases
        from
          (
            select
              *
            from
              blkbox_performance_history
            where
              date between current_date -30
              and current_date
          ) t
        group by
          1,
          2,
          3
      ) as entity_performance on entity_performance.adaccount_id = fb_adset.adaccount_id
      and entity_performance.entity_id = fb_adset.adset_id
      and entity_performance.adaccount_id = '{adaccount}'
  ) as info
group by
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9;
"""

In [109]:
if entity == 'CREATIVE':
    data = pd.read_sql_query(sql, conn)
    conn = None
elif entity == 'ADSET':
    data = pd.read_sql_query(sql1, conn)
    conn = None
elif entity == 'CAMPAIGN':
    data = pd.read_sql_query(sql2, conn)
    conn = None
elif entity == 'AGE_BREAKDOWN':
    data = pd.read_sql_query(sql3, conn)
    conn = None
elif entity == 'COUNTRY_BREAKDOWN':
    data = pd.read_sql_query(sql4, conn)
    conn = None
elif entity == 'GENDER_BREAKDOWN':
    data = pd.read_sql_query(sql5, conn)
    conn = None

In [110]:
data.head()

,adaccount_id,adaccount_name,entity_type,goal,sum
0,act_1153252391355460,[Client] Airport City ALL,CAMPAIGN,above,186255.0
1,act_1153252391355460,[Client] Airport City ALL,CAMPAIGN,below,80185.0

In [111]:
#data.goal.value_counts()

In [112]:
# Run this function if entity in CREATIVE, ADSET, CAMPAIGN
def percentage(above, total,entity):
    percent = above / total * 100
    print(f"The percentage above spend for {entity} is :",percent,"%")
    
a = list(data['sum'])
a = [float(i) for i in a]
total = sum(a)
print("The total spend is :", total)

# filtering data
data1 = data.query('goal == "above"')

a = list(data1['sum'])
a = [float(i) for i in a]
above = sum(a)
print("The above spend is :",above)


percentage(above,total,entity)

The total spend is : 266440.0
The above spend is : 186255.0
The percentage above spend for CAMPAIGN is : 69.9050442876445 %

In [89]:
# Run this function only for AGE, COUNTRY, GENDER BREAKDOWN
def percentage1(above, total,entity):
    percent = above / total * 100
    print(f"The percentage above spend for {entity} is :",percent,"%")

a = list(data['platform_spend'])
a = [float(i) for i in a]
total = sum(a)
print("The total spend is :", total)

# filtering data
data2 = data.query('goal == "above"')

a = list(data2['platform_spend'])
a = [float(i) for i in a]
above = sum(a)
print("The above spend is :",above)

percentage1(above,total, entity)

The total spend is : 2200365.2031470146
The above spend is : 1401791.433033004
The percentage above spend for COUNTRY_BREAKDOWN is : 63.707216921451426 %